[submodule "BizOpsConfigurator/json/Dynatrace-DashboardsV4"]
	path = BizOpsConfigurator/json/Dynatrace-DashboardsV4
	url = https://github.com/TechShady/Dynatrace-DashboardsV4.git
[submodule "BizOpsConfigurator/3rdparty/jsonFormatter"]
	path = BizOpsConfigurator/3rdparty/jsonFormatter
	url = https://github.com/MHeironimus/jsonFormatter.git
[submodule "BizOpsConfigurator/3rdparty/d3-funnel"]
	path = BizOpsConfigurator/3rdparty/d3-funnel
	url = https://github.com/jakezatecky/d3-funnel.git
[submodule "BizOpsConfigurator/3rdparty/d3"]
	path = BizOpsConfigurator/3rdparty/d3
	url = https://github.com/d3/d3.git
[submodule "BizOpsConfigurator/json/Dynatrace-DashboardV5"]
	path = BizOpsConfigurator/json/Dynatrace-DashboardV5
	url = https://github.com/TechShady/Dynatrace-DashboardV5
[submodule "BizOpsConfigurator/3rdparty/js-untar"]
	path = BizOpsConfigurator/3rdparty/js-untar
	url = https://github.com/InvokIT/js-untar.git
[submodule "BizOpsConfigurator/3rdparty/sheetJS"]
	path = BizOpsConfigurator/3rdparty/sheetJS
	url = https://github.com/SheetJS/sheetjs.git
[submodule "BizOpsConfigurator/3rdparty/showdown"]
	path = BizOpsConfigurator/3rdparty/showdown
	url = https://github.com/showdownjs/showdown.git
